.group-age-gender {
  height: 575px;
  display: flex;
  margin: 20px 0;
  .left {
    width: 50%;
    background-color: #fff;
    margin-right: 10px;
  }
  .right {
    width: 50%;
    background-color: #fff;
    margin-left: 10px;
  }
  .title {
    padding: 27px 10px 10px 19px;
    p {
      line-height: 30px;
      font-size: 1.25rem;
      color: #3e3c3c;
      display: inLine-block;
    }
    ul {
      width: auto;
      float: right;
      display: flex;
      li {
        cursor: pointer;
        &:nth-child(1) {
          margin-right: 10px;
        }
        &:nth-child(2) {
          margin-right: 10px;
        }
      }
    }
  }
  .groupTable {
    height: 428px;
    box-shadow: none;
    overflow: auto;
  }
}
.group-client {
  height: 575px;
  display: flex;
  margin: 20px 0;
  .left {
    width: 50%;
    background-color: #fff;
    margin-right: 10px;
  }
  .center {
    width: 50%;
    background-color: #fff;
    margin-left: 10px;
  }
  .right {
    width: 33.33%;
    background-color: #fff;
    margin-left: 10px;
  }
  .title {
    padding: 27px 10px 10px 19px;
    p {
      line-height: 30px;
      font-size: 1.25rem;
      color: #3e3c3c;
      display: inLine-block;
    }
    ul {
      width: auto;
      float: right;
      display: flex;
      li {
        cursor: pointer;
        &:nth-child(1) {
          margin-right: 10px;
        }
        &:nth-child(2) {
          margin-right: 10px;
        }
      }
    }
  }
}
