/*=========================================================================================
	File Name: _layoutModern.scss
	Description: Default layout styles
	----------------------------------------------------------------------------------------
	Item Name: Vuesax Admin - VueJS Dashboard Admin Template
	Version: 1.1
	Author: Pixinvent
	Author URL: hhttp://www.themeforest.net/user/pixinvent
==========================================================================================*/

/////////////////////////////////////////////////////////
// NAVBAR
/////////////////////////////////////////////////////////
.vs-navbar.vx-navbar {
    padding: 8px 1rem 7px 1rem;
    width: calc(100% - 223px - 3rem);
    position: fixed;
    border-radius: .5rem;
    transition: all .5s;
    z-index: 10000;
    &.navbar-reduced {
        width: calc(100% - #{$reduced-sidebar-width} - 3rem);
    }
    &.navbar-full {
        width: calc(100% - 4.4rem);
    }
}

/////////////////////////////////////////////////////////
// CONTENT AREA
/////////////////////////////////////////////////////////
#content-area {
    margin-left: 260px;
    height: 100%;
    transition: margin-left 0.5s;
    .content-wrapper {
        min-height: calc(100vh - 3.5rem);
    }
    &.content-area-reduced {
        margin-left: $reduced-sidebar-width;
    }
    &.content-area-full {
        margin-left: 0px;
    }
    .vx-navbar__search-input {
        input {
            border: none !important;
        }
        input:focus {
            box-shadow: none;
        }
    }
}

.router-view {
    position: relative;
    padding: $spacer;
    .router-content {
        margin-top: 86px;
    }
    .content-area__heading {
        h2 {
            color: #636363;
            font-size: 20px;
        }
    }
}