.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-bottom {
    display: flex;
    align-items: flex-end;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.flex-cell {
    flex: 1;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.m-l-10 {
    margin-left: 10px;
}
.m-l-20 {
    margin-left: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

.ellipsis-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}


::-webkit-scrollbar {
    width: 6px;
    height: 14px;
    border-radius: 14px;
    background-color: #F1F1F1;
}

::-webkit-scrollbar-track {
    border-radius: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #D0D0D0;
    cursor: pointer;
    border-radius: 14px;
}
