/*=========================================================================================
	File Name: _customClasses.scss
	Description: partial- this file containes custom helper classes
	----------------------------------------------------------------------------------------
	Item Name: Vuesax Admin - VueJS Dashboard Admin Template
	Version: 1.1
	Author: Pixinvent
	Author URL: hhttp://www.themeforest.net/user/pixinvent
==========================================================================================*/

//////////////////////////////////////////////////////////////////////////
//  GRID-LAYOUT CLASSES
//////////////////////////////////////////////////////////////////////////
.vx-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    // overflow: hidden;
    // @apply flex flex-wrap -mx-4;
    &>.vx-col {
        padding: 0 1rem;
    }
    &.match-height>.vx-col {
        display: flex;
    }
    &.no-gutter {
        margin: 0;
        &>.vx-col {
            padding: 0;
        }
    }
}

//////////////////////////////////////////////////////////////////////////
// MAIN COLORS
//////////////////////////////////////////////////////////////////////////
// text classes 
.text-primary {
    color: rgba(var(--vs-primary), 1) !important;
}

.text-success {
    color: rgba(var(--vs-success), 1) !important;
}

.text-danger {
    color: rgba(var(--vs-danger), 1) !important;
}

.text-warning {
    color: rgba(var(--vs-warning), 1) !important;
}

.text-dark {
    color: rgba(var(--vs-dark), 1) !important;
}

// background classes
.bg-primary {
    background-color: rgba(var(--vs-primary), 1) !important;
}

.bg-success {
    background-color: rgba(var(--vs-success), 1) !important;
}

.bg-danger {
    background-color: rgba(var(--vs-danger), 1) !important;
}

.bg-warning {
    background-color: rgba(var(--vs-warning), 1) !important;
}

.bg-dark {
    background-color: rgba(var(--vs-dark), 1) !important;
}

// border classes
.border-primary {
    border-color: rgba(var(--vs-primary), 1) !important;
}

.border-success {
    border-color: rgba(var(--vs-success), 1) !important;
}

.border-danger {
    border-color: rgba(var(--vs-danger), 1) !important;
}

.border-warning {
    border-color: rgba(var(--vs-warning), 1) !important;
}

.border-dark {
    border-color: rgba(var(--vs-dark), 1) !important;
}

// hover background classes
.hover\:bg-primary {
    &:hover {
        background-color: rgba(var(--vs-primary), 1) !important;
    }
}

.hover\:bg-success {
    &:hover {
        background-color: rgba(var(--vs-success), 1) !important;
    }
}

.hover\:bg-danger {
    &:hover {
        background-color: rgba(var(--vs-danger), 1) !important;
    }
}

.hover\:bg-warning {
    &:hover {
        background-color: rgba(var(--vs-warning), 1) !important;
    }
}

.hover\:bg-dark {
    &:hover {
        background-color: rgba(var(--vs-dark), 1) !important;
    }
}

// hover text colors
.hover\:text-primary {
    &:hover {
        color: rgba(var(--vs-primary), 1) !important;
    }
}

.hover\:text-success {
    &:hover {
        color: rgba(var(--vs-success), 1) !important;
    }
}

.hover\:text-danger {
    &:hover {
        color: rgba(var(--vs-danger), 1) !important;
    }
}

.hover\:text-warning {
    &:hover {
        color: rgba(var(--vs-warning), 1) !important;
    }
}

.hover\:text-dark {
    &:hover {
        color: rgba(var(--vs-dark), 1) !important;
    }
}

// Gradient colors
.bg-primary-gradient {
    background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important;
}

.bg-success-gradient {
    background: linear-gradient(118deg, rgba(var(--vs-success), 1), rgba(var(--vs-success), .7)) !important;
}

.bg-danger-gradient {
    background: linear-gradient(118deg, rgba(var(--vs-danger), 1), rgba(var(--vs-danger), .7)) !important;
}

.bg-warning-gradient {
    background: linear-gradient(118deg, rgba(var(--vs-warning), 1), rgba(var(--vs-warning), .7)) !important;
}

.bg-dark-gradient {
    background: linear-gradient(118deg, rgba(var(--vs-dark), 1), rgba(var(--vs-dark), .7)) !important;
}

//////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
//////////////////////////////////////////////////////////////////////////
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-big {
    font-size: 4rem;
}

.text-base {
    color: $content-color;
}

//////////////////////////////////////////////////////////////////////////
// BLUR
//////////////////////////////////////////////////////////////////////////
.blur-1 {
    filter: blur(1px);
}

.blur-2 {
    filter: blur(2px);
}

.blur-3 {
    filter: blur(3px);
}

//////////////////////////////////////////////////////////////////////////
// SIDEBAR
//////////////////////////////////////////////////////////////////////////
.sidebar-spacer {
    width: calc(100% - 260px);
    margin-left: 260px;
}

.sidebar-spacer--wide {
    width: calc(100% - 400px);
    margin-left: 400px;
}

// Create full width sidebar
.full-vs-sidebar {
    .vs-sidebar {
        max-width: calc(100% - 260px);
        margin-left: 260px;
    }
}

// @media only screen and (max-width: 992px) {
//     .full-vs-sidebar {
//         .vs-sidebar {
//             max-width: 100%;
//             margin-left: 0;
//         }
//     }
// }

//////////////////////////////////////////////////////////////////////////
// OTHER
//////////////////////////////////////////////////////////////////////////
.responsive {
    width: 100%;
    height: auto;
}

ul.bordered-items {
    &>li:not(:last-of-type):not([class*='shadow']) {
        border-bottom: 1px solid $grey-light;
    }
}

//////////////////////////////////////////////////////////////////////////
// USERS LIST
//////////////////////////////////////////////////////////////////////////
.user-list {
    display: flex;
    & .con-vs-avatar {
        transition: .3s;
        &:hover {
            transform: translateY(-5px) scale(1.07);
            box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
            // transform: translateY(-5px);
            z-index: 999;
        }
    }
}

//////////////////////////////////////////////////////////////////////////
// box-shadow
//////////////////////////////////////////////////////////////////////////
.box-card {
    box-shadow: 0px 0px 9px 0px rgba(166, 168, 169, 0.4);
    border-radius: 6px;
}

.font-number {
    font-family: "Roboto"
}